.main-container {
    margin-top: 100px;
    padding: 10px 10px 10px 10px;
    max-width: 960px;
    background-color: whitesmoke;
    opacity: 0.9;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    margin-top: 50px;
    text-align: center;
}

body {
    background-image: url(../images/color.jpeg);
    font-family: 'Special Elite', cursive;
    text-align: center;
}

.results {
    margin-left:35px; 
}

.question {
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

.answers label {
    text-align: center;
    display: block;
}

.time {
    font-size: 25px;
    margin-top: 20px;
}

button {
    margin-bottom: 50px;
    font-size: 30px;
    margin-top: 50px;
    background-color: hotpink;
}

#results {
    margin-top: 30px;
}

#results p {
    margin-top:30px;
}

